.account-item {
  padding-bottom: 0;
  padding-top: 0;
  &.active {
    color: inherit;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
  }
}

.addressFolderIcon{
  width: 100%;
}

.accountNameRecord {
  display: block;
  padding: 0 1rem 0.5rem 1rem;
}

.header-logo {
  max-width: 180px;
}