<div class="row">
  <div class="col-md-6">
    <h1 class="page-title text-primary">
      <img src="../../assets/mailchain_logo_text.png" alt="Mailchain" class="header-logo">
    </h1>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col">
        <div class="mb-s mt-2 pull-right">
          <a class="btn btn-outline-primary btn-sm float-left ml-2" id="settings-btn" routerLink="settings">
            <i class="fa fa-cog"></i>&nbsp;
            Settings
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-xl-3 col-12">
    <div id="actionButtons" class="mb-4">
      <button class="btn btn-secondary btn-block" type="button" id="fetch-messages-btn" (click)="getMails(false)"
        [disabled]="fetchMessagesDisabled">{{fetchMessagesText}}</button>
      <button class="btn btn-primary btn-block" type="button" id="compose" (click)="composeMessage()">Compose</button>
    </div>

    <div class="card">
      <div class="card-header">
        Addresses
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let address of fromAddressesKeys"
          [class]="addressIsActive(address) ? 'list-group-item account-item active' : 'list-group-item account-item'">
          <div class="row">
            <div class="col-2 p-0 my-auto">
              <a class="nav-link" (click)="changeAccount(address)">
                <img class="rounded-circle addressFolderIcon" src="{{accountIdenticons[address]}}" alt="">
              </a>
            </div>
            <div class="col-9 p-0 my-auto">
              <a class="nav-link" (click)="changeAccount(address)">{{address}}</a>
              <span class="nav-link accountNameRecord"
                *ngIf="accountNameRecord[address]">({{accountNameRecord[address]}})</span>
            </div>
            <div class="col-1 p-0 my-auto">
              <a class="nav-link" (click)="changeAccount(address)">
                <span *ngIf="messagesLoaded"
                  [class]="fromAddresses[address]['messageCount']['inbox'] > 0 ? 'badge badge-pill badge-secondary float-right' : 'badge badge-pill badge-light float-right text-muted'">
                  {{fromAddresses[address]['messageCount']['inbox']}}
                </span>
                <span *ngIf="!messagesLoaded" class="badge badge-pill badge-light float-right text-muted">
                  ...
                </span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div *ngIf="inboxPartial == 'messages'" inbox-messages class="col-lg-8 col-xl-9 col-12"
    [messagesLoaded]="messagesLoaded" [currentAccount]="currentAccount" [inboxMessages]="inboxMessages"
    [currentProtocol]="currentProtocol" [currentNetwork]="currentNetwork" (openMessage)="onOpenMessage($event)"
    (inboxCounter)="onInboxCounter($event)"></div>

  <div *ngIf="inboxPartial == 'message'" inbox-message class="col-lg-8 col-xl-9 col-12"
    [currentMessage]="currentMessage" [inboxMessages]="inboxMessages" [currentProtocol]="currentProtocol"
    [currentNetwork]="currentNetwork" (replyToMessage)="composeMessage($event)"
    (goToInboxMessages)="changeView('messages')"></div>

  <div *ngIf="inboxPartial == 'compose'" inbox-compose class="col-lg-8 col-xl-9 col-12"
    [currentAccount]="currentAccount" [currentMessage]="currentMessage" [currentNetwork]="currentNetwork"
    [currentProtocol]="currentProtocol" (openMessage)="onOpenMessage($event)"
    (goToInboxMessages)="changeView('messages')"></div>


</div>