.pre-inherit {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.message-body {
  font-family: 'Courier New', Courier, monospace;
}

.message-identicon {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}

.message-actions {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  z-index: 1;
}

.message-action {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.message-to {
  display: block;
}

.message-to{
  padding-top: 5px; 
}

blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  border-left: 5px solid #ccc;
}