<div class="container-fluid" id="main-content">
  <main id="content" class="content" role="main">
    <div class="router-component" #routerComponent>
      <router-outlet></router-outlet>
    </div>

  </main>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">
        Made by <a href="https://mailchain.xyz" target="_blank">Mailchain</a>
    </span>
    <span class="text-muted pull-right">Inbox Version: {{version}} (API Version: {{apiVersion}})</span>
  </div>
</footer>