$fa-font-path: "~font-awesome/fonts";


$footer-height: 60px;
$footer-margin-offset: 45px;

// Color variables
$custom:                #13ce67;
$white:                 #ffffff;

$primary:               #58638a;
$success:               #519965;
$info:                  #1f1420;
$warning:               #ce892d;
$danger:                #f44336;
$dark:                  #0f1f3e;
$light:                 #f8f9fa;

// $background:            #B2B6CC;
// #A84258 // burgundy red
// #7983A3 // light purple
// #F5F7F5 // light grey