$fa-font-path: "~font-awesome/fonts";


$footer-height: 60px;
$footer-margin-offset: 45px;

// Color variables
$custom:                #13ce67;
$white:                 #ffffff;

$primary:               #58638a;
// $success:               #46cd93;
$info:                  #4bbbce;
$warning:               #fdba45;
// $danger:                #f24734;
$dark:                  #0f1f3e;
$light:                 #f8f9fa;