.courier {
  font-family: 'Courier New', Courier, monospace
}

.addressIcon{
  width: 100%;
  max-width: 32px;
}

.compose-form {
  max-width: 950px;
}

.address-box {
  padding-top: 5px;
  padding-bottom: 5px;
}

.content-type-switch {
  text-align: right;
  width: 100%;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
}

#messageBody {
  width: 100%;
}

:host ::ng-deep .ck-editor blockquote {
  font-style: inherit;
}

