<div class="clearfix mb-xs">
  <a class="btn btn-outline-secondary btn-sm float-left" id="back-btn" (click)="returnToMessage()">
    <i class="fa fa-angle-left fa-lg"></i> Back To Message
  </a>
</div>
<hr>
<div>
  <h4>Compose <span class="fw-semi-bold">New</span></h4>
  <div class="compose-form" id="compose-view">
    
    <form #mailForm="ngForm" id="message-compose" (ngSubmit)="onSubmit()" autocomplete="off">
      
      <!-- From Field -->
      <div class="form-group row">
        <label for="from" class="col-form-label col-sm-2 col-md- col-lg-2">From:</label>
        <div class="col-md-10 col-lg-9">
          <div class="input-group mb-2 row">
            <div class="input-group-prepend">
              <div class="input-group-text p-0">
                <img class="rounded-circle addressIcon" src={{generateIdenticon(model.from)}} alt="">
              </div>
            </div>
            <select class="form-control" [(ngModel)]="model.from" name="from">
              <option *ngFor="let address of fromAddresses; let i = index" [value]="address">
                {{address}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- ./From Field -->


      <!-- To Field -->
      <div class="form-group">
        <div class="row">
          <label for="to" class="col-form-label col-sm-2 col-md- col-lg-2">To:</label>
          <div class="col-md-10 col-lg-9">
            <div class="input-group row">
              <div class="input-group-prepend">
                <div class="input-group-text p-0">
                  <img class="rounded-circle addressIcon" src={{generateIdenticon(model.to)}} alt="">
                </div>
              </div>
              <input type="text" id="messageTo" placeholder="To" name="to" class="form-control " placeholder="e.g. 0x0000...0000 or mailchain.eth" [(ngModel)]="messageToField" (keyup)="recipientResolve($event)">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-lg-9 offset-md-2 offset-sm-0">
            <div class="row pl-2">
              <p>
                <i class="{{recipientLoadingIcon}}"></i>&nbsp;
                <span>{{recipientLoadingText | titlecase}}</span>&nbsp;
                <span *ngIf="currentRecipientValue != model.to">{{model.to}}</span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- ./To Field -->

      <!-- Subject Field -->
      <div class="form-group row">

        <label for="subject" class="col-form-label col-sm-2 col-md- col-lg-2">Subject:</label>
        
        <div class="col-md-10 col-lg-9">
          <div class="input-group mb-2 row">
            <input type="text" id="messageSubject" placeholder="Subject" [(ngModel)]="model.subject"  name="subject" class="form-control">
          </div>
        </div>

      </div>
      <!-- ./Subject Field -->


      <!-- Plain/HTML toggle field -->
      <div class="form-group row">
        <div class="col-md-10 col-lg-9 offset-md-2 offset-sm-0">
          <div class="input-group mb-2 row">

            <div class="custom-control custom-switch content-type-switch">
              <input type="checkbox" class="custom-control-input" id="contentTypeSwitch"
                (click)="convertToPlainText()"
                [disabled]="inputContentType == 'plaintext'"
              >
              <label class="custom-control-label" for="contentTypeSwitch">{{contentTypeSwitchLabel}}</label>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Plain/HTML toggle field -->

      <!-- Body Field -->
      <!-- Plaintext Field -->
      <div
        *ngIf="inputContentType == 'plaintext' "
        class="form-group row">
        <div class="col-md-10 col-lg-9 offset-md-2 offset-sm-0">
          <div class="input-group mb-2 row">
  
            <textarea class="form-control courier" id="messageBody"
              [(ngModel)]="model.body"
              (keydown.enter)="supressEnterPropagation($event)"
              name="body"
              rows="18"
            ></textarea>

          </div>
        </div>
      </div>
      <!-- ./Plaintext Field -->

      <!-- CKeditor Field -->
      <div
        *ngIf="inputContentType == 'html' " 
        class="form-group row">
        <div class="col-md-10 col-lg-9 offset-md-2 offset-sm-0">
          <div class="input-group mb-2 row">
  
            <ckeditor
              #editor
              id="messageBody"
              name="body"
              [(ngModel)]="model.body"
              (keydown.enter)="supressEnterPropagation($event)"
              [editor]="Editor"
              ></ckeditor>

          </div>
        </div>
      </div>
      <!-- ./CKeditor Field -->
      <!-- ./Body Field -->

      <!-- <div class="clearfix"> -->
      <div class="form-group row">
        <div class="col-md-10 col-lg-9 offset-md-2 offset-sm-0">

          <div class="float-right mt-2 mr-3">
            <div class="btn-group mr-2">
              <button type="reset" class="btn btn-outline-secondary" (click)="returnToMessage()">Discard</button>
            </div>
            <div class="btn-group">
              <button
                type="submit"
                class="btn btn-danger"
                [disabled]="sendMessagesDisabled"
              >&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>